.form-products{
    width: 100%;
    height: calc(100vh - 100px);
    padding: 10px 30px;

    background-color: #f4f4f4;

    h1{
        color: #222;
        margin-bottom: 15px;
    }

    form{
        display: flex;
        flex-direction: column;

        input, textarea{
            width: 100%;
            max-width: 900px;
            height: 35px;
            padding-left: 10px;
            background-color: #FFF;
            margin-bottom: 15px;
        }

        textarea{
            padding-top: 5px;
            height: 120px;
        }

        button{
            background-color: #1a4fb5;
            color: #fff;
            height: 35px;
            width: 100%;
            max-width: 200px;
        }

    }
}